<footer class="row bg-light d-flex justify-content-between align-items-end">
    <img src="../../../assets/img/logo_opco_ep.svg" alt="logo de l'OPCO EP" class="ml-5 my-3" routerLink="/">
    <div class="mr-5">
        <ul>
            <li><a routerLink="/mentions-legales">Mentions Légales</a></li>
            <li><a routerLink="/rgpd">Politique RGPD</a></li>
            <li><a routerLink="/cookies">Politique d'utilisation des cookies</a></li>
        </ul>
    </div>
</footer>