footer {
    margin: 0 !important;
}
footer ul {
    list-style-type: none;
}
footer ul li a {
    text-decoration: none;
    font-size: 0.8em;
    color: #222;
}
footer ul li a:hover {
    color: rgb(7, 193, 188);
}
footer img {
    max-width: 200px;
}
footer img:focus {
    outline: none !important;
}
footer img:hover {
    cursor: pointer;
}