#bloc-bleu  {
    margin-top: -250px;
    height: 100px;
    background-color: rgb(1, 65, 136);
}
#triangle-bas {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 23px solid rgb(1, 65, 136);
    border-right : 17px solid transparent;
    border-left : 17px solid transparent;
   }
.carte {
    display: block;
    text-decoration: none;
}
.carte-header {
    height: 160px;
    position: relative;
}
.carte-header h3 {
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: #eee;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.carte-header h3 div {
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: -0.4em;
}
.carte-texte{
    color: #222;
    margin: 5px 2px;
}
small {
    padding-top: -10px;
}
#contrib {    
    background-color: rgb(1, 65, 136);
}
#connect {    
    background-color: rgb(7, 193, 188);
}
#formation {    
    background-color: rgb(225, 76, 100);
}
.bouton {
    text-decoration: none;
    color: rgb(1, 65, 136);
    font-size: 0.7em;
    max-width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid  rgb(1, 65, 136);
    padding: 5px 10px;
}
.bouton:hover {
    color: #eee;
    background-color: rgb(1, 65, 136);
}
.bouton img {
    margin-right: 20px;
}


@media only screen and (min-width: 600px ) and (max-width: 768px) {
    #bloc-bleu  {
        margin-top: -160px;
        height: 40px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 600px) {
    #bloc-bleu  {
        margin-top: -40px;
        height: 40px;
    }
}
@media only screen and (max-width: 350px) {
    #bloc-bleu  {
        margin-top: 0;
        height: 40px;
    }
}