<app-accueil sousTitre="Vos outils dématérialisés pour :" [liste]="liste"></app-accueil>
<section class="mb-5 bg-light">
  <div @fadeInAnimation>
  <div id="bloc-bleu"></div>
  <div class="offset-10 mb-5" id="triangle-bas"></div>
  <div class="container mb-5 pb-5">
    <div class="row">
      <a href="http://contrib.opcoep.fr/" class="col-lg-4 carte">
        <div id="contrib" class="carte-header rounded shadow-sm">
          <h3>Contrib'</h3>
        </div>
        <div class="carte-texte">
          <p>Contributions Formation professionnelle et Alternance</p>
        </div>
      </a>
      <a href="https://myagefos.agefos-pme.com/" class="col-lg-4 carte">
        <div id="connect" class="carte-header rounded shadow-sm">
          <h3>Connect'</h3>
        </div>
        <div class="carte-texte">
          <p>Demandes de prise en charge des actions de formation</p>
        </div>
      </a>
      <a href="http://acces-formation.com/" class="col-lg-4 carte">
        <div id="formation" class="carte-header rounded shadow-sm">
          <h3>
            <div>Acces</div>Formation
          </h3>
        </div>
        <div class="carte-texte">
          <p>Inscription aux sessions de formations collectives</p>
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-between my-5">
      <a href="http://www.question-formation.com/" target="_blank" class="bouton" rel="noopener noreferrer"><img
          src="../../../assets/img/en_savoir_plus.png" alt="En savoir plus">En savoir plus sur la formation et
        l’apprentissage</a>
    </div>
  </div>
</div>
</section>
