<section id="mentions-legales">
    <div class="container my-5">
        <h1>Mentions légales OPCO EP</h1>
        <h2>OPCO DES ENTREPRISES DE PROXIMITE</h2>
        <p>Opérateur de compétences agréé par arrêté ministériel du 29.03.2019</p>
        <ul>
            <li>
                Forme juridique : Association loi du 1e juillet 1901
            </li>
            <li>
                Numéro de SIRET : 879 036 895 00016
            </li>
            <li>
                Siège social : 53 rue Ampère, 75017 PARIS
            </li>
        </ul>
        <p><strong>Directeur de la publication : </strong>Sylvia VEITL – Présidente</p>
        <p><strong>Rédacteur en chef : </strong>Philippe GAERTNER – Vice-Président</p>
        <p><strong>Contact:</strong></p>
        <p>Direction de la communication</p>
        <ul>
            <li>
                Courriel : contact@opcoep.fr
            </li>
        </ul>
        <p><strong>Hébergeur site internet</strong></p>
        <p>OVH Groupe SAS, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.</p>
    </div>
</section>