<app-accueil sousTitre="Vos outils dématérialisés pour :" [liste]="liste"></app-accueil>
<section class="mb-5 bg-light">
  <div @fadeInAnimation>
  <div id="bloc-gris"></div>
  <div class="offset-10 mb-2" id="triangle-bas"></div>
  <div class="container mb-5 pb-5">
    <h2 class=" text-center text-uppercase mb-4">Vous êtes expert-comptable</h2>
    <p class="text-center text-dark mt-2 mb-5">En fonction de l'IDCC de vos clients, choisissez l'une des 2
      plateformes de
      déclaration en ligne d'OPCO EP.<br> Cliquez <a
        href="../../../assets/Dossier_Liste_branches_2020_IDCC_collecte_ec.pdf" target="_blank">ici</a>, pour
      accéder
      à
      la liste des branches par plateforme.</p>
    <div class="row d-flex justify-content-center">
      <a href="https://e.actalians.fr/" class="col-md-5 carte">
        <div id="services" class="carte-header">
          <h3>Mes services en ligne</h3>
        </div>
        <div class="carte-texte">
        </div>
      </a>
      <a href="http://contrib.opcoep.fr/" class="col-md-5 carte">
        <div id="contrib" class="carte-header">
          <h3>Contrib'</h3>
        </div>
        <div class="carte-texte">
        </div>
      </a>
    </div>
  </div>
</div>
</section>
