<app-accueil sousTitre="Réalisez vos demandes de prise en charge pour le compte des entreprises de l'OPCO EP"></app-accueil>
<section class="mb-5 bg-light">
    <div @fadeInAnimation>
    <div id="bloc-gris"></div>
    <div class="offset-10 mb-5" id="triangle-bas"></div>
    <div class="container mb-5 pb-5">
        <h2 class=" text-center text-uppercase mb-5">Vous êtes un organisme de formation</h2>
        <div class="row d-flex justify-content-center">
            <a href="https://myagefos.agefos-pme.com/ConnectOF/s/" class="col-md-5 carte mt-2">
                <div id="contrib" class="carte-header">
                    <h3>Connect'</h3>
                </div>
            </a>
            <a href="https://e.actalians.fr/" class="col-md-5 carte mt-2">
                <div id="services" class="carte-header">
                    <h3>Mes services en ligne</h3>
                </div>
            </a>
        <h5 class="text-center mt-5">Demandes de prise en charge Formation professionnelle en Alternance</h5>
        </div>
    </div>
</div>
</section>
<section class="mb-5">
    <div>
        <p class="text-center">Contactez l'OPCO des Entreprises de Proximité en nous envoyant un mail à cette adresse <a href="mailto:centre-contact@opcoep.fr">centre-contact@opcoep.fr</a>
        </p>
    </div>
</section>
