#bloc-gris  {
    margin-top: -280px;
    height: 100px;
    background-color: #DCDCDC;
}
#triangle-bas {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 23px solid #DCDCDC;
    border-right : 17px solid transparent;
    border-left : 17px solid transparent;
   }
.carte {
    display: block;
    text-decoration: none;
}
.carte-header {
    height: 160px;
    position: relative;
}
.carte-header h3 {
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: #eee;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.carte-header h3 div {
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: -0.4em;
}
.carte-texte{
    color: #222;
    margin: 5px 2px;
}
small {
    padding-top: -10px;
}
#contrib {    
    background-color: rgb(7, 193, 188);
    border-radius: 4px;
    box-shadow:2px 4px 8px lightgrey;
}
#services {    
    background-color: rgb(225, 76, 100);
    border-radius: 4px;
    box-shadow:2px 4px 8px lightgrey;
}
#services h3 {
    font-size: 3em;
}


@media only screen and (min-width: 350px ) and (max-width: 768px) {
    #bloc-gris  {
        margin-top: -200px;
        height: 40px;
    }
}

@media only screen and (max-width: 350px) {
    #bloc-gris  {
        margin-top: -80px;
        height: 40px;
    }
    .carte-header {
        height: 180px;
    }
}