<app-accueil sousTitre="Vos outils dématérialisés pour :" [liste]="liste"></app-accueil>
<section @fadeInAnimation id="login" class="container-fluid mb-5">
  <div class="container mb-5 pb-5">
    <!----------Form1------------>
    <div class="col-lg-8 mt-2 mx-auto">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit1()" class="pt-3">
        <div class="col bg-blue rounded shadow-sm">
          <h4 class="text-light pt-5">Pour commencer, veuillez saisir votre identifiant* ou votre numéro de SIRET</h4>
          <div class="form-row">
            <div class="form-group col-md-9" id="form-input">
              <input type="text" class="form-control" aria-describedby="loginHelp" formControlName="login">
              <small id="loginHelp" class="form-text text-light">* Il s’agit de l’email utilisé pour accéder à vos
                services</small>
            </div>
            <div class="form-row">
              <div class="col-md-2">
                <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid">Suivant</button>
              </div>
            </div>
          </div>
          <div class="form-row mt-2" id="captcha">
            <div class="col-my-1 mx-auto">
              <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [useGlobalDomain]="true" formControlName="recaptcha">
              </ngx-recaptcha2>
            </div>
          </div>
        </div>
        <div id="formMessage" [ngClass]="{'alert': true,
                        'mt-3': true,
                        'alert-danger': messageStatus === 'error',
                         'alert-success': messageStatus === 'success'}">
          {{formMessage}}
        </div>
      </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="modalLoginTitle">{{modalMessage}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body d-flex justify-content-around" *ngIf="user">
            <button *ngFor="let branche of user.branches" role="button" class="btn btn-secondary px-5 py-2"
              data-dismiss="modal" (click)="onChooseBranche(branche)">{{branche.branche}}</button>
          </div>
        </div>
      </div>
    </div>
    <!--------------Fin Modal ------------>
    <div class="row d-flex justify-content-between align-items-center bg-green px-5 py-4 rounded shadow-sm">
      <h3 class="mr-3 col-md-10 text-light">Vous n'avez pas été reconnu par nos services ? Inscrivez-vous</h3>
      <a routerLink="/nouvel-adherent" type="button" class="btn btn-secondary">Suivant</a>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="mt-2 px-5 py-4 bg-light rounded shadow-sm text-center bottom-card">
          <h5 class="mr-3">Vous êtes un organisme de formation</h5>
          <a routerLink="/organisme-de-formation" type="button" role="button"
            class="btn btn-secondary mt-3 btnSuivant">Suivant</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mt-2 px-5 py-4 bg-light rounded shadow-sm text-center bottom-card">
          <h5 class="mr-3">Vous êtes expert-comptable mandaté par les entreprises adhérentes de l’OPCO EP</h5>
          <a routerLink="/expert-comptable" type="button" role="button"
            class="btn btn-secondary mt-2 btnSuivant">Suivant</a>
        </div>
      </div>
      <div class="col-md-12 text-center text-secondary mt-4">
        Contactez l'OPCO des Entreprises de Proximité par téléphone<br>
        Un opérateur vous répondra du lundi au jeudi de 8h30 à 18h et le vendredi de 8h30 à 17h
      </div>
      <div class="col-xs-11 col-sm-10 col-md-7 col-lg-5 col-xl-5 shadow mx-auto mt-4 zoom">
        <a href="tel:0970838837" class="row text-decoration-none">
          <div class="h4 text-center text-secondary col-8 my-auto"><strong>0 970 838 837</strong></div>
          <div class="split2 col-4 text-center">
            <div class="triangle">
            </div>
            <div id="number-label"><small>Service gratuit<br>+ prix appel</small></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>