#login {
    margin-top: -280px;
}
#login h4 {
    font-weight: 300;
    font-size: 28px;
}
.bg-blue {
    min-height: 300px;
    background-color: rgb(1, 65, 136);
}
.bg-green {
    background-color: rgb(0, 137, 132);
}
#sub-title {
    font-size: 1.2em;
}
#form-input input {
    width: 100% !important;
}
#form-input {
    display: block;
}
.bottom-card {
    min-height: 180px;
    position: relative;
}
.btnSuivant {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-radius: 2px;
    padding : 0;
    transition: transform .2s;
}
.zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.1);
}
div.split2 {
    background-image: linear-gradient(to top, #535963, #8A8E9C); 
    color: whitesmoke;
}

div.split2:before{
    position:absolute; 
    display:block; 
    content:''; 
    border-top:4px solid #AFB1BB; 
    right:0px;
    top: -3px;
    width:100%; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div.split2:after{
    position:absolute; 
    display:block; 
    content:''; 
    border-top:3px solid #525863; 
    right:0px; 
    width:100%; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
} 
div.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
    margin: 7px 0px 0px 0px;
    box-sizing:border-box;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
}
.zoom:hover .triangle {
    border-top: 11px solid transparent;
    border-left: 11px solid #fff;
    border-bottom: 11px solid transparent;
    left: -0.5px;
}
#number-label small {
    font-weight: 600;
    font-size: 15px;
}

@media only screen and (min-width: 600px ) and (max-width: 768px) {
    #login {
        margin-top: -180px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    #login {
        margin-top: -90px;
    }
    #captcha {
        margin-left: -24px;
    }

    .bottom-card{
        min-height: 220px;
    }
    .shadow {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 350px) {
    #login {
        margin-top: -30px;
    }
    #captcha {
        margin-left: -50px;
    }
    .bottom-card{
        min-height: 260px;
    }
    .shadow {
        padding-right: 15px;
        padding-left: 15px;
    }
}