<section id="rgpd">
    <div class="container my-4">
        <em>Version du 17/12/2019</em>
        <h1 class="mt-2">Politique de protection des données à caractère personnel et de respect de la vie privée</h1>
        <p>L’OPCO des Entreprises de Proximité, en sa qualité de responsable de traitement, est une association loi de 1901, N° SIRET 87903689500016 dont le siège social est situé 53 rue Ampère, 75017 PARIS.</p>

        <p>Parce que le respect de votre vie privée est essentiel pour nous et justifie la confiance que vous nous accordez, nous avons mis en place la présente Politique de protection des données à caractère personnel.</p>
        <p>Une Donnée à Caractère Personnel désigne toute information concernant une personne physique identifiée ou identifiable. Est réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par référence à un numéro d’identification ou à un ou plusieurs éléments spécifiques, propres à son identité physique, physiologique, psychique, économique, culturelle ou sociale.</p>
        <p>Au travers de ses différents sites internet l’OPCO des Entreprises de Proximité propose des contenus, de la documentation ainsi que des services en ligne destinés à promouvoir et faciliter la gestion de la formation et de l’apprentissage</p>
        <p>Dans ce cadre, nous sommes amenés à collecter et traiter certaines Données à Caractère Personnel.</p>
        <p>La Politique de protection des données personnelles s'applique aux collectes et traitements de données effectués sur les sites Web de OPCO EP (les "Sites") et à l'utilisation de nos services ou contenus en ligne (les « Services ») quel que soit le terminal utilisé.</p>
        <p>Cette politique est à destination des adhérents, des bénéficiaires de formation, des organismes de formation (« OF »), des centres de formation d’apprentis (« CFA »), des Visiteurs des Sites internet (les « Visiteurs ») et des Utilisateurs des Services en ligne (les « Utilisateurs »).</p>
        <p>L’OPCO EP s’engage, dans le cadre de ses activités et conformément à la réglementation applicable en France et en Europe, et notamment au Règlement Européen sur la Protection des Données à caractère personnel, à assurer la protection, la confidentialité et la sécurité des données à caractère personnel de ses visiteurs, utilisateurs, prospects, adhérents (salariés), bénéficiaires des actions de formation, apprentis ainsi qu’à respecter leur vie privée.</p>
        <p>Nos Sites et services ne s'adressent pas aux mineurs, sauf autorisation de leurs représentants légaux.</p>
        <p>L’OPCO EP peut à tout moment faire évoluer la Politique sur la protection des données personnelles notamment pour s’adapter à la législation en vigueur. Ces modifications sont portées à la connaissance des Visiteurs et Utilisateurs du simple fait de leur mise en ligne. Nous vous recommandons de prendre régulièrement connaissance de la version actuelle disponible.</p>
        <h2>Les principes de protection des données et du respect de la vie privée</h2>
        <h3>1.1 La collecte loyale des données à caractère personnel</h3>
        <p>Les données sont collectées de manière loyale et transparente. L’OPCO EP s’interdit de collecter des données personnelles sans en avoir préalablement informé les personnes concernées, y compris sur l’usage qui est fait de leurs données.</p>
        <p>De manière générale, le défaut de renseignement des champs identifiés par un astérisque (*) ne nous permet pas de vous faire bénéficier de tout ou partie des Services ou fonctionnalités que nous proposons, dans ce cas vos demandes pourraient ne pas être prises en compte. </p>
        <p>Les autres champs sont facultatifs et ont pour objet d’améliorer la qualité des Services qui vous sont proposés.</p>
        <h3>1.2  L’utilisation des données à caractère personnel</h3>
        <p>L’OPCO EP respecte le cadre légal en vigueur concernant la protection des données à caractère personnel, les conditions de sécurité et de confidentialité. L’OPCO EP ne communique les données à caractère personnel qu’à ses prestataires habilités et s’assure qu’ils respectent des conditions strictes de confidentialité, d’usage et de protection de ces données.</p>
        <p>L’OPCO EP s’interdit de communiquer à des partenaires commerciaux les données à caractère personnel sans avoir informé les personnes concernées, et sans leur avoir offert la possibilité d’exercer leur droit d’opposition.</p>
        <h3>1.3  Les mesures nécessaires pour assurer la sécurité des données à caractère personnel</h3>
        <p>L’OPCO EP assure la protection des données personnelles qui lui sont confiées, dès la conception et tout au long du cycle de vie des services, des sites ou des applications.</p>
        <ul>
            <li>
                Il met en œuvre des mesures de sécurité adaptées au degré de sensibilité des données pour protéger les données à caractère personnel contre toute intrusion malveillante, toute perte, altération ou divulgation à des tiers non autorisés ;
            </li>
            <li>
               le système d’information, les serveurs et les réseaux qu’elle utilise pour traiter et stocker les données personnelles sont dotés de systèmes de sécurité et de protection ;
            </li>
            <li>
                il garantit la sécurité des informations échangées lors de transactions ;
            </li>
            <li>
                il délivre des autorisations d’accès à son système d’information aux seules personnes qui en ont besoin pour exercer leur fonction ;
            </li>
            <li>
                il sensibilise ses collaborateurs à la protection des données personnelles mises à leur disposition dans le cadre de leurs fonctions et s’assure qu’ils respectent les règles en vigueur et la déontologie de l’entreprise ;
            </li>
            <li>
                il impose à ses prestataires de se conformer à ces mêmes principes de protection.
            </li>
        </ul>
        <h2>La protection des données chez OPCO EP</h2>
        <h3>2.1 Quelles sont les données traitées ?</h3>
        <h4><i>2.1.1 Concernant les adhérents, les OF, les CFA et les bénéficiaires de formation</i></h4>
        <h5>Pour les adhérents, OF et CFA :</h5>
        <ul>
            <li>
                Données de contact professionnelles : nom, prénom, adresse postale, adresse électronique, numéro de téléphone… 
            </li>
            <li>
                Vie professionnelle : profession, fonction…
            </li>
        </ul>
        <h5>Pour les bénéficiaires de formation, sont également traitées :</h5>
        <p>Au titre des missions légales (article L6332-1 et suivants du code du travail) qui lui sont confiées dans le domaine de l’emploi-formation, l’OPCO EP (l’OPCO EP, sis 53 rue Ampère, 75017 PARIS) est habilité à recueillir auprès des entreprises adhérentes, des données personnelles relatives à leurs salariés. </p>
        <p>Dans la mesure où l’OPCO EP procède dans ce contexte à une collecte indirecte de Données à Caractère Personnel et où il ne dispose pas des moyens pour informer directement les salariés des adhérents avant la mise en œuvre du Traitement,  l’adhérent s’engage (i) à informer ses salariés du fait que leurs Données à Caractère Personnel sont transmises à l’OPCO EP ; et (ii) à fournir à ses salariés les informations relatives Traitements mis en œuvre par l’OPCO EP dont les caractéristiques sont définies ci-dessous.</p>
        <ul>
            <li>
                Données d’identification : nom, prénom, lieu et date de naissance, nationalité, sexe, âge, identifiant…
            </li>
            <li>
                Vie professionnelle et personnelle : profession, fonction, entreprise, formation professionnelle, type de contrat, secteur, formation initiale, formation continue, catégorie socio-professionnelle, situation familiale…
            </li>
            <li>
                Données économiques et financières : salaires, coordonnées bancaires, situation financière, situation fiscale…
            </li>
            <li>
                Données sensibles : le cas échéant numéro de sécurité sociale (NIR), situation de handicap…
            </li>
        </ul>
        <h4><i>2.1.2 Concernant les visiteurs et utilisateurs des services</i></h4>
        <p>Lorsque vous naviguez sur nos sites ou en utilisant nos applis et services, l’OPCO EP, ses prestataires de services ou ses partenaires commerciaux peuvent collecter des données.</p>
        <ul>
            <li>
                Certaines données de contact nous sont communiquées directement par les visiteurs et utilisateurs : noms, prénoms, adresse électronique, adresse et code postal, mot de passe, numéro de téléphone, réclamations ou les opinions dont vous pourriez nous faire part.
            </li>
            <li>
                Certaines données, peuvent être collectées automatiquement du fait de votre navigation sur les Sites et applications au moyen de cookies ou de technologies similaires. 
            </li>
            <li>
                Par ailleurs lorsque vous êtes connecté, nous recueillons les informations générées au travers de l'usage de nos services (adresse IP, type de navigateur, informations concernant le terminal utilisé, données de connexion, données de navigation et données de trafic).
            </li>
        </ul>
        <p>Ces informations sont communiquées à chaque fois que vous naviguez sur nos Sites et applis.</p>
        <p>Pour en savoir plus, nous vous invitons à consulter notre <a routerLink="/cookies">règle d’utilisation des cookies</a>.</p>
        <h3>2.2 À quelles fins sont utilisées les données à caractère personnel ?</h3>
        <h4><i>2.2.1 Concernant les adhérents, les OF, les CFA et les bénéficiaires de formation</i></h4>
        <p>L’OPCO EP traite les données ou catégories de données pour les finalités décrites ci-après :</p>
        <ul>
            <li>
                gestion de la relation contractuelle et commerciale ;
            </li>
            <li>
                collecte et gestion des contributions dédiées à l’apprentissage et à la formation professionnelle (y compris contributions conventionnelles et versements volontaires) ;
            </li>
            <li>
                gestion administrative et financière des actions de formations et des actions concourant au développement de la formation professionnelle ;
            </li>
            <li>
                contrôle de la qualité des formations ;
            </li>
            <li>
                réalisation d’enquêtes et d’études quantitatives et ou qualitatives auprès des Adhérents ou des stagiaires ;
            </li>
            <li>
                élaboration d’études statistiques et de bilans liés à la politique emploi-formation ;
            </li>
            <li>
                accompagnement des Adhérents, des partenaires sociaux et partenaires publics en matière de développement emploi-formation en particulier suivi des subventions publiques ;
            </li>
            <li>
                actions de communication et diffusions d’offres liées à l’emploi-formation ;
            </li>
            <li>
                appui technique aux Branches Professionnelles en matière de GPEC et d’ingénierie des certifications
            </li>
            <li>
                gestion des contentieux et des précontentieux.
            </li>
        </ul>
        <p>Ces traitements sont fondés (i) pour la plupart des finalités sur l’exécution du contrat ; (ii) pour d’autres finalités sur l’intérêt légitime de l’OPCO EP ; (iii) et, dans certains cas, sur le respect de ses obligations légales par l’OPCO EP.</p>
        <h4><i>2.2.2 Concernant les visiteurs et utilisateurs des services</i></h4>
        <p>Les données collectées nous permettent de vous identifier, de vous faire bénéficier de nos services et d’améliorer la qualité des services et fonctionnalités que nous proposons, gérer la relation contractuelle et commerciale (dont prospection commerciale).</p>
        <p>Ces traitements sont fondés (i) pour la plupart des finalités sur l’exécution du contrat ; (ii) pour d’autres finalités sur l’intérêt légitime de l’OPCO EP ; (iii) le consentement. </p>
        <h3>2.3 Quels sont les destinataires des données collectées ?</h3>
        <h4><i>2.3.1 Concernant les adhérents, les OF, les CFA et les bénéficiaires de formation</i></h4>
        <p>Les Données à Caractère Personnel des salariés de l’adhérent sont accessibles au personnel de l’OPCO EP, à des organismes de formation, les Centres de Formation d'Apprentis (CFA) habilités à gérer les dossiers de formation, ainsi qu’à des prestataires de services, agissant en qualité de Sous-Traitants, amenés à intervenir sur les outils informatiques ou à produire des études, bilans et statistiques dans le cadre des Observatoires « emploi-formation ». </p>
        <p>Les partenaires institutionnels et pouvoirs publics (notamment France Compétences, Direccte, Pôle Emploi, DGEFP, FSE, Caisse des Dépôts et Consignation, CNSA, APEC …) peuvent également être destinataires de certaines Données à Caractère Personnel dans le cadre de leurs missions. Ces derniers mettent en œuvre un traitement distinct de celui de l’OPCO EP et agissent eux-mêmes en tant que Responsable du Traitement pour des finalités qui leurs sont propres.</p>
        <h4><i>2.3.2 Concernant les visiteurs et utilisateurs des services</i></h4>
        <p>Les Données à Caractère Personnel que nous collectons pourront être transmises :</p>
        <ul>
            <li>
                aux personnels habilités de l’OPCO EP ;
            </li>
            <li>
                aux partenaires institutionnels de l’OPCO EP  et aux pouvoirs publics ;
            </li>
            <li>
                à des prestataires de service et sous-traitants de l’OPCO EP.
            </li>
        </ul>
        <p>Nous pouvons également être dans l’obligation légale de divulguer toute information vous concernant afin de nous conformer à la règlementation applicable ou pour répondre à toute demande judiciaire ou administrative.</p>
        <p>Sous réserve de ce qui est indiqué dans la présente Politique ou de l’obtention de votre consentement, l’OPCO EP est également susceptible de communiquer vos données personnelles à ses partenaires qui pourront être amenés à vous contacter directement à partir des coordonnées que vous nous avez communiquées.</p>
        <h3>2.4 Combien de temps sont conservées vos données ?</h3>
        <h4><i>2.4.1 Concernant les adhérents, les OF, les CFA et les bénéficiaires de formation</i></h4>
        <p>Les Données à Caractère Personnel recueillies dans le cadre de ces finalités sont conservées pour des durées variables découlant notamment des missions de l’OPCO, du contrôle administratif et financier exercé par l’état ou l’Union Européenne et de l’intérêt légitime de l’OPCO EP.</p>
        <h4><i>2.4.2 Concernant les internautes et utilisateurs des services</i></h4>
        <p>Les données personnelles sont conservées pour toute la durée nécessaire aux finalités poursuivies dans le cadre des traitements pour lesquelles elles ont été collectées à l’exception des cas où la conservation pour une durée supérieure résulte de la loi, de la règlementation ou aux fins de procès.</p>
        <p>Les principales durées de conservation :</p>
        <table class="table col-md-10 mx-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Finalités
                    </th>
                    <th scope="col">
                        Durées de conservation
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        Données de connexion, de trafic et de navigation
                    </td>
                    <td>
                        Un (1) an à compter de la dernière connexion concernée
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        Données relatives aux prospects
                    </td>
                    <td>
                        3 ans à compter du dernier contact entrant avec l’OPCO EP
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Les Données à Caractère Personnel collectées sont notamment supprimées à la suite de la survenance d’un des évènements suivants (et sous réserve du respect des prescriptions légales applicables et des durées de conservation légales) :</p>
        <ul>
            <li>
                l’arrivée du terme de la durée de conservation ;
            </li>
            <li>
                l’exercice du droit à l’effacement conformément au Règlement Européen sur la Protection des Données à caractère personnel ;
            </li>
            <li>
               l’arrêt de la mise à disposition des Sites par l’OPCO EP pour quelque raison que ce soit.
            </li>
        </ul>
        <p>En cas de décès, sur demande d’un ayant droit et sur justificatifs de sa qualité d’ayant droit, nous supprimerons toutes vos Données à Caractère Personnel, à l’issue de la durée de conservation applicable et des prescriptions applicables.</p>
        <h3>2.5 Où sont hébergées et traitées les données à caractère personnel ?</h3>
        <p>Les Données à Caractère Personnel sont actuellement hébergées et traitées sur le territoire de l’Union Européenne. </p>
        <p>Elles peuvent toutefois faire l’objet d’un transfert en dehors de l'Union Européenne dans le cadre des finalités de Traitements exposées ci-dessus. </p>
        <p>Pour chaque transfert, l’OPCO EP mettra en place les garanties appropriées pour assurer un niveau de protection adéquat au sens de la Règlementation Applicable, y compris au moyen de la signature de clauses contractuelles types reprenant le modèle de la Commission Européenne.</p>
        <h3>2.6 Quels sont vos droits ?</h3>
        <p>Chaque personne dispose d’un droit d’accès, de rectification, d’effacement, de limitation, d’opposition, de portabilité de ses données, ou de retrait de son consentement dans les conditions et limites prévues par le Règlement général européen sur la protection des données</p>
        <p>Chaque personne peut également faire parvenir des directives spéciales relatives au sort de leurs Données à Caractère Personnel après leur  décès </p>
        <p>Lorsque le traitement de Données à Caractère Personnel que nous effectuons repose sur votre consentement, vous pouvez retirer ce consentement à tout moment.</p>
        <p>Toute personne physique concernée par les traitements de données de l’OPCO EP peut exercer ses droits à l’adresse dpo@opcoep.fr et s’il n’obtenait pas satisfaction peut s’adresser à l’autorité de contrôle <a href="http://www.cnil.fr">www.cnil.fr</a>.</p>
        <p>Toute demande doit être signée et accompagnée de la photocopie d’un titre d’identité et préciser l’adresse à laquelle la réponse est attendue. Une réponse sera alors adressée dans un délai d’un (1) mois suivant la réception de la demande, pouvant être prolongé compte tenu de la complexité ou du nombre de demandes. </p>
        <p>Lorsque votre demande de droit d’accès, de rectification ou d’opposition est relative aux données collectées par un partenaire de l’OPCO EP ou traitées par un destinataire de l’OPCO EP, nous vous invitons à vous rapprocher dudit partenaire ou destinataire, en sa qualité de responsable de traitement.</p>
        <p>Pour toute information sur la protection des données personnelles, vous pouvez consulter le site de la Commission Informatique et Liberté <a href="http://www.cnil.fr">www.cnil.fr</a></p>
    </div>
</section>