<app-accueil sousTitre="Vos outils dématérialisés pour :" [liste]="liste"></app-accueil>
<section @fadeInAnimation id="signup" class="container-fluid mb-5">
  <div class="container mb-5 pb-5">
    <!--------------Form2-------------->
    <div class="col-lg-8 mt-2 mx-auto">
      <form [formGroup]="newUserForm" (ngSubmit)="onSubmit2()" class="pt-3" id="form2">
        <div class="col bg-green rounded shadow-sm">
          <h4 class="text-light pt-5">Vous êtes <b>nouvel adhérent</b> de l’OPCO des Entreprises de Proximité</h4>
          <div class="form-row">
            <div class="form-group col-md-9" id="form-input">
              <input list="usecase2" class="form-control" placeholder="Saisissez le n° de votre convention collective*"
                aria-describedby="loginHelp" formControlName="idcc" id="idccInput">
              <datalist id="usecase2">
                <option *ngFor="let branche of branches" value="{{ branche.code }}">{{ branche.code }} -
                  {{ branche.desc }}</option>
              </datalist>
              <span class="myarrow"></span>
              <small id="loginHelp" class="form-text text-light">* Il s’agit du code IDCC<br>Si votre IDCC n'est pas
                présente dans la liste, cliquez <a class="text-light" target="_blank"
                  href="https://travail-emploi.gouv.fr/IMG/xlsx/table_idcc-opco-19072019.xlsx" rel="noopener noreferrer">ici</a></small>
            </div>

            <div class="col-md-2">
              <span id="tooltip2" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top">
                <button type="submit" id="newUserSubmitBtn" class="btn btn-secondary"
                  [disabled]="newUserForm.invalid">Suivant</button></span>
            </div>
          </div>
          <div class="form-row mt-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="dom" id="metropole" value="false">
              <label class="form-check-label text-light" for="metropole">Métropole</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="dom" id="dom" value="true">
              <label class="form-check-label text-light" for="dom">DOM</label>
            </div>
          </div>
          <div class="form-row mt-2" id="captcha">
            <div class="col-my-1 mx-auto">
              <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [useGlobalDomain]="true" formControlName="recaptcha">
              </ngx-recaptcha2>
            </div>
          </div>
        </div>
        <div id="newUserMessage" [ngClass]="{'alert': true,
                    'mt-3': true,
                    'alert-danger': newUserMessageStatus === 'error',
                    'alert-success': newUserMessageStatus === 'success'}">
          {{newUserMessage}}
        </div>
      </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="exampleModalCenterTitle">Vous souhaitez :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body d-flex justify-content-around">
            <a type="button" role="button" class="btn btn-primary active px-0 py-0 px-sm-3 py-sm-3"
              href="https://eservices.agefos-pme.com/">Déclarer votre <br>contribution formation</a>
            <a type="button" role="button" class="btn btn-green px-0 py-0 px-sm-3 py-sm-3" data-dismiss="modal"
              routerLink="/agelink-nouvel-adherent/{{idcc}}">Envoyer une demande <br>de financement</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
