#signup {
    margin-top: -280px;
}
#signup h4 {
    font-weight: 300;
    font-size: 28px;
}
.bg-green {
    min-height: 300px;
    background-color: rgb(0, 137, 132);
}
#sub-title {
    font-size: 1.2em;
}
#form-input input {
    width: 100% !important;
}
#form-input {
    display: block;
}
input:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

input::-webkit-calendar-picker-indicator {
    display: none;/* remove default arrow */
}
#datalist-input {
    position: relative;
}
.myarrow:after {
    content: url(https://i.stack.imgur.com/i9WFO.png);
    position: absolute;
    top: 6px;
    right: 12px;
    pointer-events:none;
}
.btn-green{
    color: #fff;
    background-color: rgb(0, 137, 132);
    border-color: rgb(0, 137, 132);
}
@media only screen and (min-width: 600px ) and (max-width: 768px) {
    #signup {
        margin-top: -180px;
    }
}
  @media only screen and (min-width: 350px) and (max-width: 600px) {
    #signup {
        margin-top: -90px;
    }
    #captcha {
        margin-left: -24px;
    }
}
@media only screen and (max-width: 350px) {
    #signup {
        margin-top: -30px;
    }
    #captcha {
        margin-left: -50px;
    }
}