<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/img/logo_opco_ep.svg" alt="Logo de l'OPCO EP">
    </a>
  
  </nav>