#home-bg {
    height: 500px;
    background: url('../../../assets/img/home-bg-img.jpg'), url('../../../assets/img/home-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-title-container h1 {
    padding-top: 0.8rem;
    font-size: 3em;
}
#home-title-container h3 {
    margin-top: -30px;
    font-weight: 100;
    font-size: 1.5em;
}
.home-title-line {
    height: 8px;
    background-color: rgb(7, 193, 188);
}
#home-list ul {
    list-style-type: none;
}
#home-list ul li {
    font-size: 1.1em;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    #home-title-container h1 {
        padding-top: 2rem;;
    }
}