<section id=home>
    <div id="home-bg">
        <div class="container">
            <div id="home-title-container">
                <h1 class="text-light text-center text-uppercase">Vos services en ligne</h1>
                <div class="home-title-line col-md-1 mx-auto mb-5"></div>
                    <h3 class="text-light text-center">{{ sousTitre }}</h3>
            </div>
            <div id="home-list" class="offset-1">
                <ul class="text-light" *ngIf="liste">
                    <li *ngFor="let list of liste">{{list}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
