/* Tabs*/

#bloc-vert  {
    margin-top: -280px;
    height: 100px;
    background-color: #007b5e;
}
#triangle-bas-vert {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 23px solid #007b5e;
    border-right : 17px solid transparent;
    border-left : 17px solid transparent;
   }
section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}


#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #007b5e;;
    background-color: transparent;
    border-color: transparent transparent #007b5e;;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #007b5e;;
    font-size: 20px;
}
input::-webkit-calendar-picker-indicator {
    display: none;/* remove default arrow */
  }

  a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #F8F9FA !important;
  }

  
@media only screen and (min-width: 600px ) and (max-width: 768px) {
    #bloc-vert  {
        margin-top: -200px;
        height: 40px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 600px) {
    #bloc-vert  {
        margin-top: -200px;
        height: 40px;
    }
}
@media only screen and (max-width: 350px) {
    #bloc-vert  {
        margin-top: -80px;
        height: 40px;
    }
}