<app-accueil sousTitre="Inscrivez-vous à l'OPCO des Entreprises de Proximité"></app-accueil>

<!-- Tabs -->
<section id="tabs" class="mb-5 pb-5 bg-light">
    <div @fadeInAnimation>
    <div id="bloc-vert"></div>
    <div class="offset-10 mb-2" id="triangle-bas-vert"></div>
	<div class="container mb-5 pb-5">
		<div class="row">
			<div class="col-12 bg-light rounded shadow-sm p-5">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<button class="nav-item nav-link active bg-light" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Votre entreprise</button>
                        <button  class="nav-item nav-link bg-light" 
                            id="nav-profile-tab" 
                            data-toggle="tab" 
                            href="#nav-profile" 
                            role="tab" 
                            aria-controls="nav-profile" 
                            aria-selected="false"
                            [disabled]="contactForm.controls.siret.invalid ||
                                        contactForm.controls.naf.invalid ||
                                        contactForm.controls.idcc.invalid ||
                                        contactForm.controls.raisonSociale.invalid ||
                                        contactForm.controls.numeroVoie.invalid ||
                                        contactForm.controls.typeVoie.invalid ||
                                        contactForm.controls.nomVoie.invalid ||
                                        contactForm.controls.ville.invalid ||
                                        contactForm.controls.codePostal.invalid">Autres informations</button>
                        <button class="nav-item nav-link bg-light" 
                                id="nav-contact-tab" 
                                data-toggle="tab" 
                                href="#nav-contact" 
                                role="tab" 
                                aria-controls="nav-contact" 
                                aria-selected="false"
                                [disabled]="contactForm.controls.siret.invalid ||
                                            contactForm.controls.naf.invalid ||
                                            contactForm.controls.idcc.invalid ||
                                            contactForm.controls.raisonSociale.invalid ||
                                            contactForm.controls.numeroVoie.invalid ||
                                            contactForm.controls.typeVoie.invalid ||
                                            contactForm.controls.nomVoie.invalid ||
                                            contactForm.controls.ville.invalid ||
                                            contactForm.controls.codePostal.invalid ||
                                            contactForm.controls.formeJuridique.invalid ||
                                            contactForm.controls.assujetissementTva.invalid ||
                                            contactForm.controls.masseSalariale.invalid">Contact</button>
					</div>
				</nav>
				<form class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" [formGroup]="contactForm">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!-------ROW 1-------->
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text"
                                    placeholder="SIRET *" 
                                    [ngClass]="{ 'form-control': 'true',
                                                 'is-valid': contactForm.controls.siret.valid,
                                                 'is-invalid': contactForm.controls.siret.errors && (contactForm.controls.siret.dirty || contactForm.controls.siret.touched) }" 
                                    formControlName="siret"
                                    id="siret-input"
                                    (keyup)="onCheckSiret()"
                                    (blur)="onCheckSiret()">
                                <div *ngIf="contactForm.controls.siret.errors && (contactForm.controls.siret.dirty || contactForm.controls.siret.touched)" class="invalid-feedback">
                                    Veuillez entrer un SIRET valide
                                </div>
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <input type="text"
                                       placeholder="Code NAF *" 
                                       formControlName="naf"
                                       [ngClass]="{ 'form-control': 'true',                                    
                                                 'is-valid': contactForm.controls.naf.valid,
                                                 'is-invalid': contactForm.controls.naf.invalid && (contactForm.controls.naf.dirty || contactForm.controls.naf.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.naf.errors && (contactForm.controls.naf.dirty || contactForm.controls.naf.touched)" class="invalid-feedback">
                                    Veuillez entrer votre code NAF
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                        </div>
                        <!-----------ROW 2------------>
                        <div class="form-row">
                            <div class="col-md-12" id="datalist-input">
                                <input  list="usecase2"
                                        placeholder="Saisissez le n° de votre convention collective*" 
                                        aria-describedby="loginHelp" id="idccInput" 
                                        formControlName="idcc"
                                        [ngClass]="{ 'form-control': 'true',
                                                    'is-valid': contactForm.controls.idcc.valid,
                                                    'is-invalid': contactForm.controls.idcc.invalid && (contactForm.controls.idcc.dirty || contactForm.controls.idcc.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.idcc.errors && (contactForm.controls.idcc.dirty || contactForm.controls.idcc.touched)" class="invalid-feedback">
                                    Veuillez entrer votre IDCC
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                        </div>
                        <!----------ROW 3---------->
                        <div class="form-row mt-2">
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Libellé de l’activité" rows="1" formControlName="libelle"></textarea>
                            </div>
                        </div>                        
                        <div class="form-row mt-2">
                            <div class="col-md-12">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Raison sociale *" 
                                        formControlName="raisonSociale"
                                        [ngClass]="{ 'is-valid': contactForm.controls.raisonSociale.valid,
                                                    'is-invalid': contactForm.controls.raisonSociale.invalid && (contactForm.controls.raisonSociale.dirty || contactForm.controls.raisonSociale.touched) }">
                                        <!---------------------VALIDATOR----------------->
                                        <div *ngIf="contactForm.controls.raisonSociale.errors && (contactForm.controls.raisonSociale.dirty || contactForm.controls.raisonSociale.touched)" class="invalid-feedback">
                                            Veuillez entrer votre raison sociale
                                        </div>
                                        <!------------------END VALIDATOR--------------->
                            </div>            
                        </div>
                                <!---------------ADRESSE-------------->
                        <div class="form-row">
                            <div class="col-md-3 mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="N° Voie *" 
                                        formControlName="numeroVoie"
                                        [ngClass]="{ 'is-valid': contactForm.controls.numeroVoie.valid,
                                                    'is-invalid': contactForm.controls.numeroVoie.invalid && (contactForm.controls.numeroVoie.dirty || contactForm.controls.numeroVoie.touched) }">
                                        <!---------------------VALIDATOR----------------->
                                        <div *ngIf="contactForm.controls.numeroVoie.errors && (contactForm.controls.numeroVoie.dirty || contactForm.controls.numeroVoie.touched)" class="invalid-feedback">
                                            Merci de compléter le numéro de voie
                                        </div>
                                        <!------------------END VALIDATOR--------------->
                            </div>
                            <div class="col-md-3 mt-2">
                                <select class="custom-select" formControlName="extensionVoie">
                                    <option value="" disabled>Extension (Bis, .)</option>
                                    <option value="BIS">BIS</option>
                                    <option value="TER">TER</option>
                                    <option value="QUATER">QUATER</option>
                                    <option value="QUINQUIES">QUINQUIES</option>
                                </select>
                            </div>
                            <div class="col-md-6 mt-2">
                                <select
                                        class="custom-select"
                                        formControlName="typeVoie"
                                        [ngClass]="{ 'is-valid': contactForm.controls.typeVoie.valid,
                                                    'is-invalid': contactForm.controls.typeVoie.invalid && (contactForm.controls.typeVoie.dirty || contactForm.controls.typeVoie.touched) }">
                                    <option value="" disabled>Type de voie *</option>
                                    <option value="Allée">Allée</option>
                                    <option value="Avenue">Avenue</option>
                                    <option value="Boulevard">Boulevard</option>
                                    <option value="Carrefour">Carrefour</option>
                                    <option value="Chemin">Chemin</option>
                                    <option value="Chaussée">Chaussée</option>
                                    <option value="Cité">Cité</option>
                                    <option value="Corniche">Corniche</option>
                                    <option value="Cours">Cours</option>
                                    <option value="Domaine">Domaine</option>
                                    <option value="Descente">Descente</option>
                                    <option value="Ecart">Ecart</option>
                                    <option value="Esplanade">Esplanade</option>
                                    <option value="Faubourg">Faubourg</option>
                                    <option value="Grande Rue">Grande Rue</option>
                                    <option value="Hameau">Hameau</option>
                                    <option value="Halle">Halle</option>
                                    <option value="Impasse">Impasse</option>
                                    <option value="Lieu-dit">Lieu-dit</option>
                                    <option value="Lotissement">Lotissement</option>
                                    <option value="Marché">Marché</option>
                                    <option value="Montée">Montée</option>
                                    <option value="Passage">Passage</option>
                                    <option value="Place">Place</option>
                                    <option value="Plaine">Plaine</option>
                                    <option value="Plateau">Plateau</option>
                                    <option value="Promenade">Promenade</option>
                                    <option value="Parvis">Parvis</option>
                                    <option value="Quartier">Quartier</option>
                                    <option value="Quai">Quai</option>
                                    <option value="Résidence">Résidence</option>
                                    <option value="Ruelle">Ruelle</option>
                                    <option value="Rocade">Rocade</option>
                                    <option value="Rond-point">Rond-point</option>
                                    <option value="Route">Route</option>
                                    <option value="Rue">Rue</option>
                                    <option value="Sente - Sentier">Sente - Sentier</option>
                                    <option value="Square">Square</option>
                                    <option value="Terre-plein">Terre-plein</option>
                                    <option value="Traverse">Traverse</option>
                                    <option value="Villa">Villa</option>
                                    <option value="Village">Village</option>
                                </select>
                                        <!---------------------VALIDATOR----------------->
                                        <div *ngIf="contactForm.controls.typeVoie.errors && (contactForm.controls.typeVoie.dirty || contactForm.controls.typeVoie.touched)" class="invalid-feedback">
                                            Merci de compléter le type de voie
                                        </div>
                                        <!------------------END VALIDATOR--------------->
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-md-12">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Nom de voie *" 
                                        formControlName="nomVoie"
                                        [ngClass]="{ 'is-valid': contactForm.controls.nomVoie.valid,
                                                    'is-invalid': contactForm.controls.nomVoie.invalid && (contactForm.controls.nomVoie.dirty || contactForm.controls.nomVoie.touched) }">
                                        <!---------------------VALIDATOR----------------->
                                        <div *ngIf="contactForm.controls.nomVoie.errors && (contactForm.controls.nomVoie.dirty || contactForm.controls.nomVoie.touched)" class="invalid-feedback">
                                            Veuillez entrer un nom de voie
                                        </div>
                                        <!------------------END VALIDATOR--------------->
                            </div>
                        </div>
                        <input type="text" class="form-control mt-2" placeholder="Complément de voie" formControlName="complementVoie">
                        <input type="text" class="form-control mt-2" placeholder="Complément de voie" formControlName="complementVoie2">
                        <!-------ROW 8-------->
                        <div class="form-row">
                            <div class="col-md-4 mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Code postal *" 
                                        formControlName="codePostal"
                                        [ngClass]="{ 'is-valid': contactForm.controls.codePostal.valid,
                                            'is-invalid': contactForm.controls.codePostal.invalid && (contactForm.controls.codePostal.dirty || contactForm.controls.codePostal.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.codePostal.errors && (contactForm.controls.codePostal.dirty || contactForm.controls.codePostal.touched)" class="invalid-feedback">
                                    Veuillez entrer votre code postal
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                            <div class="col-md-8 mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Ville *" 
                                        formControlName="ville"
                                        [ngClass]="{ 'is-valid': contactForm.controls.ville.valid,
                                            'is-invalid': contactForm.controls.ville.invalid && (contactForm.controls.ville.dirty || contactForm.controls.ville.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.ville.errors && (contactForm.controls.ville.dirty || contactForm.controls.ville.touched)" class="invalid-feedback">
                                    Veuillez entrer votre ville
                                </div>
                                <!------------------END VALIDATOR--------------->
                                
                            </div>
                        </div>
                        <button class="btn btn-success text-light mt-2 float-right" role="button" type="button"
                            (click)="onNextTab()">Suivant</button>
                    </div>
                    
                    <!------------------TAB 2--------------->
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <select 
                                class="custom-select mt-2"
                                formControlName="formeJuridique"
                                [ngClass]="{ 'is-valid': contactForm.controls.formeJuridique.valid,
                                            'is-invalid': contactForm.controls.formeJuridique.invalid && (contactForm.controls.formeJuridique.dirty || contactForm.controls.formeJuridique.touched) }">
                            <option value="">Forme juridique *</option>
                            <option value="Entreprise individuelle">Entreprise individuelle</option>
                            <option value="EIRL">EIRL</option>
                            <option value="SARL">SARL</option>
                            <option value="EURL">EURL</option>
                            <option value="SAS">SAS</option>
                            <option value="SASU">SASU</option>
                            <option value="SA">SA</option>
                            <option value="SNC">SNC</option>
                        </select>
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.formeJuridique.errors && (contactForm.controls.formeJuridique.dirty || contactForm.controls.formeJuridique.touched)" class="invalid-feedback">
                                    Veuillez entrer votre forme juridique
                                </div>
                                <!------------------END VALIDATOR--------------->
                        
                        <div class="form-row">
                            <div class="col-md-4">
                                <select 
                                class="custom-select mt-2"
                                formControlName="assujetissementTva"
                                [ngClass]="{ 'is-valid': contactForm.controls.assujetissementTva.valid,
                                            'is-invalid': contactForm.controls.assujetissementTva.invalid && (contactForm.controls.assujetissementTva.dirty || contactForm.controls.assujetissementTva.touched) }">
                                    <option value="">Assujetissement TVA*</option>
                                    <option value="true">Oui</option>
                                    <option value="false">Non</option>
                                </select>
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.assujetissementTva.errors && (contactForm.controls.assujetissementTva.dirty || contactForm.controls.assujetissementTva.touched)" class="invalid-feedback">
                                    Veuillez entrer votre forme assujetissement Tva
                                </div>
                            </div>
                                        <!------------------END VALIDATOR--------------->
                            <div class="col-md-4 mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Masse salariale 2019 *" 
                                        formControlName="masseSalariale"
                                        [ngClass]="{ 'is-valid': contactForm.controls.masseSalariale.valid,
                                            'is-invalid': contactForm.controls.masseSalariale.invalid && (contactForm.controls.masseSalariale.dirty || contactForm.controls.masseSalariale.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.masseSalariale.errors && (contactForm.controls.masseSalariale.dirty || contactForm.controls.masseSalariale.touched)" class="invalid-feedback">
                                    Veuillez entrer votre masse salariale
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                            <div class="col-md-4 mt-2">
                                <input type="text" 
                                      class="form-control" 
                                      placeholder="Effectif moyen annuel 2019" 
                                      formControlName="effectifMoyenAnnuel"
                                      [ngClass]="{ 'is-valid': contactForm.controls.effectifMoyenAnnuel.valid && contactForm.controls.effectifMoyenAnnuel.touched,
                                            'is-invalid': contactForm.controls.effectifMoyenAnnuel.invalid && (contactForm.controls.effectifMoyenAnnuel.dirty || contactForm.controls.effectifMoyenAnnuel.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.effectifMoyenAnnuel.errors && (contactForm.controls.effectifMoyenAnnuel.dirty || contactForm.controls.effectifMoyenAnnuel.touched)" class="invalid-feedback">
                                    Veuillez entrer un nombre entier
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success text-light mt-2 float-right" 
                                role="button" 
                                type="button" 
                                (click)="onNextTab2()">Suivant</button>
                    </div>
                    <!--------------------TAB 3 ---------------->
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<div class="form-row">
                            <div class="col-md-6 mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Nom *" 
                                        formControlName="nom"
                                        [ngClass]="{ 'is-valid': contactForm.controls.nom.valid,
                                            'is-invalid': contactForm.controls.nom.invalid && (contactForm.controls.nom.dirty || contactForm.controls.nom.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.nom.errors && (contactForm.controls.nom.dirty || contactForm.controls.nom.touched)" class="invalid-feedback">
                                    Veuillez entrer votre nom
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                            <div class="col-md-6 mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Prénom *" 
                                        formControlName="prenom"
                                        [ngClass]="{ 'is-valid': contactForm.controls.prenom.valid,
                                            'is-invalid': contactForm.controls.prenom.invalid && (contactForm.controls.prenom.dirty || contactForm.controls.prenom.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.prenom.errors && (contactForm.controls.prenom.dirty || contactForm.controls.prenom.touched)" class="invalid-feedback">
                                    Veuillez entrer votre prénom
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                        </div>
                        <input  type="email" 
                                class="form-control mt-2" 
                                placeholder="Courriel *" 
                                formControlName="email"
                                [ngClass]="{ 'is-valid': contactForm.controls.email.valid,
                                            'is-invalid': contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.email.errors && (contactForm.controls.email.dirty || contactForm.controls.email.touched)" class="invalid-feedback">
                                    Veuillez entrer votre courriel
                                </div>
                                <!------------------END VALIDATOR--------------->
                        <input  type="tel"
                                appPhoneMask
                                [maxlength]="14"
                                id="tel"
                                class="form-control mt-2"
                                placeholder="Téléphone *"
                                formControlName="telephone"
                                [ngClass]="{ 'is-valid': contactForm.controls.telephone.valid,
                                            'is-invalid': contactForm.controls.telephone.invalid && (contactForm.controls.telephone.dirty || contactForm.controls.telephone.touched) }">
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="contactForm.controls.telephone.errors && (contactForm.controls.telephone.dirty || contactForm.controls.telephone.touched)" class="invalid-feedback">
                                    Veuillez entrer votre téléphone
                                </div>
                                <!------------------END VALIDATOR--------------->
                                <div class="col-md-4 mt-2">
                                    <div class="form-row">
                                        
                                        <div class="form-check">
                                            <input  class="form-check-input" 
                                                    type="checkbox" 
                                                    value="" 
                                                    id="defaultCheck2"
                                                    formControlName="rgpd"
                                                    [ngClass]="{ 'is-valid': contactForm.controls.rgpd.valid,
                                                    'is-invalid': contactForm.controls.rgpd.invalid && (contactForm.controls.rgpd.dirty || contactForm.controls.rgpd.touched) }">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Je certifie être autorisé à transmettre les données de mon entreprise*
                                            </label>
                                        <!---------------------VALIDATOR----------------->
                                        <div *ngIf="contactForm.controls.rgpd.errors && (contactForm.controls.rgpd.dirty || contactForm.controls.rgpd.touched)" class="invalid-feedback">
                                            Veuillez confirmer être autorisé à transmettre les données de votre entreprise
                                        </div>
                                        <!------------------END VALIDATOR--------------->
                                        </div>
                                    </div>
                                </div>
                                            
                        <div class="form-row mt-2 d-flex justify-content-around align-items-center">
                            <div class="col">
                                <ngx-recaptcha2 #captchaElem
                                    [siteKey]="siteKey"
                                    [useGlobalDomain]="true"
                                    formControlName="recaptcha">
                                </ngx-recaptcha2>
                                <!---------------------VALIDATOR----------------->
                                <div *ngIf="captchaError == true">
                                    <small class="text-danger">Veuillez compléter le captcha</small>
                                </div>
                                <!------------------END VALIDATOR--------------->
                            </div>
                            <div class="col">
                                <button class="btn btn-success float-right" type="submit" (click)="onSubmit()">Envoi</button>
                            </div>
                            
                        </div>          
                        
                    </div>
                    
				</form>
                <div class="my-4">
                    <small>* champs obligatoires</small>
                </div>
			</div>
		</div>
    </div>
    <!-- Modal -->
    <div class="modal fade" data-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalCenterTitle">Votre siret est déjà connu de l'OPCO EP</h5>
          </div>
          <div class="modal-body text-center">
              <p>Souhaitez-vous créer un compte sur nos services en ligne?</p>
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <a type="button" role="button" class="btn btn-secondary px-5 py-2"
              routerLink="../../agelink" data-dismiss="modal">Oui</a>
            <a type="button" role="button" class="btn btn-secondary px-5 py-2" data-dismiss="modal"
              routerLink="/">Non</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal2 -->
    <div class="modal fade" data-backdrop="static" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2CenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModal2CenterTitle">Votre siret est déjà connu de l'OPCO EP</h5>
          </div>
          <div class="modal-body text-center">
              <p>Une demande d’enregistrement concernant votre entreprise a déjà été faite. Elle est en cours de traitement  par nos équipes.</p>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <a type="button" role="button" class="btn btn-secondary px-5 py-2"
              href="https://www.opcoep.fr/">Ok</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal3 -->
    <div class="modal fade" data-backdrop="static" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3CenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
              <p>{{modalMessage}}</p>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <a type="button" role="button" class="btn btn-secondary px-5 py-2"
              routerLink="/" data-dismiss="modal">Ok</a>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
<!-- ./Tabs -->