<section id="cookies">
    <div class="container my-5">
        <h1>Règles d’utilisation des cookies OPCO EP</h1>
        <p>Lors de la consultation de nos sites OPCO EP (ci-après « Sites ») et dans le cadre de l’utilisation de services que nous mettons à disposition de nos adhérents, OPCO EP est susceptible, sous réserve de vos choix, de déposer des « cookies » sur votre ordinateur, votre mobile ou votre tablette permettant de collecter des informations relatives à votre navigation. </p>
        <p>Cette rubrique vous informe sur l’origine et l’usage des cookies que nous utilisons, et vous explique comment les paramétrer selon votre choix.</p>
        <h2>En quoi consistent les cookies ?</h2>
        <p>Il s’agit d’un simple fichier texte stocké temporairement sur votre périphérique fixe ou mobile (mais aussi dans certains cas, dans votre navigateur internet) à la demande du serveur du site sur lequel vous naviguez. Il est renvoyé au site internet concerné pour lui permettre de vous reconnaître lors de vos visites ultérieures. </p>
        <p>Vous pouvez configurer votre navigateur pour bloquer ces cookies (au cas par cas ou totalement), être alerté de leur utilisation, ou les supprimer de votre terminal. La configuration de chaque navigateur est différente. Les paramètres de votre navigateur en matière de cookies se trouvent généralement dans le menu « options », « outils », « paramètres », « réglages » ou encore « préférences » de votre navigateur Internet. Nous vous invitons à consulter le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. </p>
        <h2>Quels types de cookies utilisons-nous ?</h2>
        <p>Nos Sites utilisent 2 types de cookies : les cookies nécessaires au fonctionnement du site ou cookies techniques, et les cookies émis et gérés par des tiers. </p>
        <h3>Les cookies nécessaires au fonctionnement de nos Sites ou cookies techniques</h3>
        <p>Ces cookies permettent d’utiliser les principales fonctionnalités de nos Sites (par exemple l’accès à votre compte personnel). Ils comprennent les cookies de navigation et les cookies de fonctionnalités. L’utilisation de ces cookies est fondée sur notre intérêt légitime à veiller au bon fonctionnement technique, à l’accessibilité et à l’utilisation de nos Sites. <strong>Ces cookies sont déposés par OPCO EP et ne sont pas soumis à consentement.</strong></p>
        <p><strong>Les cookies de navigation </strong>sont strictement nécessaires à la navigation sur nos Sites. Ils vous permettent notamment de vous connecter à votre espace personnel et de sécuriser votre connexion (par exemple, lorsqu’il vous est demandé de vous connecter à nouveau à votre espace personnel après une certaine durée écoulée).</p>
        <p><strong>Les cookies de fonctionnalités </strong>ne sont pas indispensables à la navigation mais permettent d’optimiser le fonctionnement de nos Sites en fonction de vos préférences ou de votre connectivité, notamment en adaptant la présentation de nos Sites aux préférences d’affichage de votre terminal (langue utilisée, résolution d’affichage, etc.) ou encore en mémorisant les informations relatives aux formulaires que vous êtres susceptibles de remplir (identifiant de connexion par exemple).</p>
        <p>La suppression de ces cookies peut entrainer des difficultés de navigation ainsi que l’impossibilité d’utiliser certaines fonctionnalités proposées par nos Sites. <strong>Nous vous déconseillons par conséquent d'empêcher leur utilisation ou de les supprimer.</strong></p>
        <h3>Les cookies émis et gérés par des tiers</h3>
        <p>Des cookies peuvent être déposés par des sociétés tiers. Ceux-ci peuvent accéder et lire les informations contenues dans ces cookies. Ils ne sont pas essentiels à l’utilisation de nos Sites. <b>Nous vous demanderons toujours votre consentement avant d’utiliser ces cookies et pourrez à tout moment modifier vos préférences. </b></p>
        <h4>Durée de conservation : </h4>
        <p>Ces cookies sont conservés par OPCO EP durant une période n’excédant pas 13 mois, conformément aux recommandations de la Commission Nationale de l’Informatique et des Libertés (CNIL).</p>
        <h4>Gestion des cookies tiers </h4>
        <p>Lors de votre première visite sur nos Sites, un bandeau vous informe de la présence de ces cookies et vous invite à indiquer votre choix. En cliquant sur « Accepter », vous consentez à l’utilisation de ces cookies.  En cliquant sur « Personnaliser », vous pouvez gérer et désactiver les cookies tiers. </p>
        <p>Vous avez la possibilité de revenir à tout moment sur votre choix et de modifier vos préférences en cliquant sur l’icône dédiée située sur chaque page ou dans votre compte si vous êtes connecté.</p>
        <h4>Les cookies analytiques</h4>
        <p>Nos Sites utilisent Google Analytics comme outil de suivi d’audience. </p>
        <p>Ces cookies recueillent un certain nombre d’informations lors de vos visites sur nos Sites. Ils permettent de mesurer l’audience de nos contenus et rubriques de nos Sites et d’établir des statistiques de fréquentation, afin de mieux comprendre les comportements des utilisateurs en vue d’en améliorer nos services, le contenu et le fonctionnement de nos Sites.</p>
        <p>Vous avez la possibilité de refuser ces cookies via le plugin de désactivation proposé par <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">Google Analytics</a> . Google Analytics peut être déployé au travers de Google Tag Manager. En désactivant Google Tag Manager, Google Analytics est également désactivé.</p>
        <h4>Les cookies de marketing</h4>
        <p>Nos sites peuvent être amenés à utiliser des cookies de marketing. Ces cookies permettent de suivre votre comportement de navigation lors de vos visites sur nos Sites et composent sur cette base un profil utilisateur. Ce profil est utilisé pour personnaliser l’expérience de navigation. </p>
        <p><b>Webmecanik Automation :</b> il s’agit d’une solution d’emailing automation. Cet outil enregistre un identifiant qui reconnaît l’appareil de l’utilisateur lors de visites récurrentes. Cet outil suit votre navigation, collecte de l’information sur vos préférences et gère les formulaires présents sur le site. Il permet notamment de remplir automatiquement des formulaires.</p>
        <p><b>Pardot : </b>il s’agit d’un outil de génération de leads de Salesforce. Les cookies Pardot permettent de suivre votre activité sur nos Sites, tels que l’activité de vue de la page et la durée d’observation, pour mieux mesurer la popularité de nos Sites. Ces cookies permettent de mémoriser vos préférences lorsque vous revenez sur nos Sites. Aucune information personnelle identifiable n’est stockée dans le cookie, les cookies Pardot conservent uniquement un identificateur unique qui n’a aucune signification en dehors du système Pardot.</p>

        <h3 class="my-5">OPCO EP se réserve la possibilité d’implanter les cookies suivants sur le terminal de l’utilisateur</h3>
        <div class="card mb-3">
            <div class="card-header bg-success text-light">Nom et détail des principaux cookies techniques susceptibles d’être utilisés sur nos Sites</div>
            <div class="card-body">
                <p><b>Cookie de Consentement :</b><br>
                    <i>Cookieconsent_dismissed, cb-enabled : </i>ces cookies permettent de savoir si l’utilisateur a pris connaissance du message relatif aux cookies. <br>   
                    <i>Tarteaucitron : </i>permet de stocker les préférences de l’utilisateur en matière de cookies.</p>
                <hr>
                <p><b>Cookie de session :</b><br> 
                    Ce cookie est généré de manière aléatoire. Il est utilisé pour l’identification et l’authentification de l’utilisateur.<br>A chaque visite d’un utilisateur, un code de session est assigné d’une manière aléatoire et permet le maintien de la connexion des utilisateurs sur nos Sites.
                </p>
                <hr>
                <p><b>Cookies Régions : </b><br>
                    <i>Reg : </i>ce cookie a pour valeur le nom de la région et permet de gérer l’affichage des éléments lorsqu’on parcourt des pages régionales. <i>Exemple reg = Grand Est</i><br>
                    <i>Region : </i>ce cookie a pour valeur un identifiant de région. <i>Exemple : pour la région Grand Est, l’identifiant est 6 (region=6)</i>
                </p>
                <hr>
                <p><b>Cookies Wordpress</b> (pour nos sites hébergés sur la plateforme Wordpress.com) <br>
                    <i>Wordpress_ logged_in : </i>indique quand vous êtes connecté et qui vous êtes. <br>
                    <i>Wordpress_test_cookie : </i>utilisé pour vérifier si les cookies sont activés dans le navigateur. <br>
                    <i>Wordpress_[hash] : </i>permet de stocker les informations d’authentification des administrateurs. <br>
                    <i>Wp-settings-[UID] et wp-settings-{{"{"}}time{{"}"}}-[UID] : </i>utilisés pour personnaliser votre vue de l’interface d’administration et éventuellement l’interface du site principal.
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-success text-light">
                Nom et détail des cookies tiers émis et gérés par Salesforce Pardot
            </div>
            <div class="card-body">
                <p>Pardot installe trois types de cookies :</p>
                <ol>
                    <li>
                        Le cookie visiteur inclut le nom “visitor_id” ainsi que l’identifiant unique du visiteur, ex: “visitor_id1234”. "visitor_id#-hash". Ce cookie est installé pour les visiteurs par le code de suivi Pardot.
                    </li>
                    <li>
                        Si votre compte suit les préférences de consentement, le cookie pi_opt_opt_in est installé avec une valeur vraie ou fausse lorsque le visiteur choisit d'être suivi ou non.
                    </li>
                    <li>
                        Un cookie de session nommé « pardot » est installé lorsque vous êtes connecté en tant qu'utilisateur Pardot. Ce cookie n'est pas placé sur le navigateur du visiteur.
                    </li>
                </ol>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-success text-light">
                Nom et détail des cookies tiers émis et gérés par Webmecanik Automation
            </div>
            <div class="card-body">
                <p><i>Mautic_device_id : </i>permet de connaître l’appareil avec lequel le visiteur accède au site.</p>
                <hr>
                <p><i>Mtc_sid : </i>donne un identifiant à la session du visiteur du site afin de le reconnaître.</p>
                <hr>
                <p><i>Mtc_id : </i>donne un identifiant au visiteur du site web dans le but de le reconnaître.</p>
                <hr>
                <p>Autres cookies utilisés par Webmecanik : <i>mautic_session_id, mautic_referer_id, mautic_focus_x</i></p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-success text-light">
                Nom et détail des cookies tiers émis et gérés par Google Analystics 
            </div>
            <div class="card-body">
                <p><i>_GA : </i>utilisé pour distinguer les utilisateurs du site afin de générer des données statistiques sur la manière dont le visiteur utilise le site.</p>
                <hr>
                <p><i>_GID : </i>utilisé pour distinguer les utilisateurs du site afin de générer des données statistiques sur la manière dont le visiteur utilise le site.</p>
                <hr>
                <p><i>_GAT : </i>utilisé pour surveiller le taux de requêtes vers les serveurs de google analytics. Si Google Analytics est déployé via Google Tag Manager, ce cookie sera nommé _dc_gtm_gtm_< property-id-id >. </p>
                <hr>
                <p><i>_utma : </i>utilisé pour distinguer les visiteurs uniques sur le site. Ce dernier est mis à jour à chaque page vue.</p>
                <hr>
                <p><i>_utmb : </i>utilisé pour suivre la session de visite de l'internaute. L'utilisation de ce cookie couplée avec le cookie </p>
                <hr>
                <p><i>_utmc : </i>fonctionne en complément du cookie _utmb pour déterminer si oui ou non il y a une nouvelle visite par le visiteur unique actuel.</p>
                <hr>
                <p><i>_utmt : </i>indique le type de demande, qui peut-être un événement, une transaction, un élément ou une variable personnalisée. </p>
                <hr>
                <p><i>_utmz : </i>stocke toutes les informations utiles à l'identification d'une source de trafic. Y sont aussi stockés : le mot clé tapé si l'internaute consulte le site en provenance d'un moteur de recherche, etc.</p>
            </div>
        </div>
        <p>Si vous souhaitez en savoir plus sur les cookies, leur fonctionnement et leur utilisation, nous vous invitons à consulter le site de la CNIL <a href="https://www.cnil.fr/">(https://www.cnil.fr/)</a>.</p>
        <h2>Comment nous contacter ?</h2>
        <p>Pour tout information ou pour l’exercice de vos droits d’accès, de rectification ou d’effacement de vos données personnelles, mais également de vos droits d’opposition ou de limitation du traitement de vos données personnelles, veuillez contacter notre Délégué à la Protection des Données par email à l’adresse suivante : dpo@opcoep.fr. </p>
    </div>
</section>